.container {
  padding: 1rem 0.5rem 6rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  main {
    max-width: 920px;
    width: 100%;
  }

  footer {
    margin-top: 5rem;
  }
}
